
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>
        <i class="" aria-hidden="true"></i> List of Names
    </h1>

</div>

<div>
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <thead class="thead-dark">
            <tr>
                @Html.ActionLink("Sort by Name", "Index", "Home", new { sortClient = ViewBag.NameSortParm })
                <th scope="col">Name</th>
                <th scope="col">Name in own language</th>
                <th scope="col">Name in english language</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in ViewBag.client)
            {


                <tr>
                    <td>@x.Namee</td>
                    <td>@x.TrueName</td>
                    <td>@x.FLName</td>
                </tr>

            }
        </tbody>
    </table>
</div>




<p>

    @if (Request.IsAuthenticated)
    {



            @Html.ActionLink("Create New", "Create", "Home")
        


    }
    else
    {
        <a href="~/Account/Login">Login for add new</a>
    }

</p>